@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-dark: #1E3A8A;
  --color-primary-light: #60A5FA;
  --color-background: #ffffff;
  --color-background-soft: #EFF6FF;
  --color-foreground: #111827;
  --color-dark: #111827;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-foreground font-body;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }
}
